* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px auto;
  font-family: "Lato";
  font-weight: 300;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: small;
}

input, select, textarea{
  font-family: "Lato";
  color: #ffffff;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  padding-bottom: 25px;
  background: #302f40;
  width: 600px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
  color: white;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #4a4b60;
  height: 300px;
  width: 530px;
  border: 1px solid #302f40;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #302f40;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #3d3850;
  background-color: #4a4b60;
}

#ip {
  flex: 1;
  max-height: 25px;
  border-radius: 4px;
  border: 1px solid #3d3850;
  background-color: #4a4b60;
}

#port {
  flex: 1;
  max-height: 25px;
  border-radius: 4px;
  border: 1px solid #3d3850;
  background-color: #4a4b60;
}
/* 
#send_ip {

} */

#name {
  border-radius: 4px;
  border: 1px solid #3d3850;
  padding: 2px 8px;
}

#submitmsg,
#enter{
  background: #3d3850;
  border: 2px solid #3d3850;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 15px 25px;
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  color: white;
  background: #3d3850;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: orangered;
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: orangered;
}

html{
   background-color:#282731;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#4a4b60; 
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #d0d0d0;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
